#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.ol__events {
  border-radius: 0.5rem;
  box-shadow: 0 15px 35px 0 rgba(42, 51, 83, .12), 0 5px 15px rgba(0, 0, 0, .06);
  background: rgba(255, 255, 255, 0.4);
  z-index: 999;
  width: 100%;
  max-width: 300px;
  overflow-y: auto;
  padding: 5px 10px;
  margin: 0;
  position: absolute;
  right: 20px;
  top: 20px;
}

.ol__events .title {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.ol__events .subtitle {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 1em;
}


.tw__timeline {
  border-radius: 0.5rem;
  box-shadow: 0 15px 35px 0 rgba(42, 51, 83, .12), 0 5px 15px rgba(0, 0, 0, .06);
  background: #fff;
  z-index: 999;
  width: 100%;
  max-width: 300px;
  overflow-y: auto;
  padding: 10px 20px;
  margin: 0;
  position: absolute;
  left: 20px;
  top: 20px;
}

.tw__title {
  font-weight: bolder;
  font-size: 2em;
  margin-bottom: 1rem;
}

.tw__sub {
  color: #4e616c;
  font-size: .875rem;
}

.tw__icon {
  vertical-align: middle;
  max-width: 25px;
  padding: 0 0.5em 0 0;
  margin: 0;
}

.live {
  position: absolute;
  right: 80px;
  top: 20px;
}

.live__circle {
  width: 10px;
  height: 10px;
  background-color: #f44336;
  border-radius: 50%;
  position: absolute;
  top: 22px;
  left: 22px;
}

.live__ring {
  border: 2px solid #f44336;
  -webkit-border-radius: 30px;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}

.marker {
  width: 0;
  height: 0;
}

.marker div {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #ff0000;
  animation: pulse 1s 1;
}

@keyframes pulse {
  0% {
    opacity: 0;
    box-shadow: 0 0 rgba(255, 0, 0, 0.5);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
}
